:root {
  --color-primary: #003566;
  --color-secondary: #ffd60a;
  --color-primary-darker: #4d5054;
  --color-secondary-darker: #22262a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--color-primary-darker);
  font-weight: 400;
  text-align: center;
}

/* HEADER */

.metatrack__slant {
  background-color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  overflow: hidden;
}

.header__wrapper {
  max-width: 90%;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  padding: 15rem;
  display: flex;
  justify-content: center;
}

.heading__text {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

.header__borderline {
  border: 0;
  height: 35px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

.border-1 {
  background: #2a5780;
  transform: rotate(-5deg);
  bottom: 97px;
  right: 10px;
}

.border-2 {
  background: #557899;
  transform: rotate(-6deg);
  bottom: 120px;
  right: 10px;
}

/***** MAIN--DESIGN ******/
/* GRID--FEATURES--SECTION--TWO */

.section {
  max-width: 90%;
  margin: 0 auto;
}

.about_us_img {
  width: 23rem;
  height: 25rem;
  margin: 0 auto;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.features__description {
  margin-bottom: 40px;
}

.features__header h1 {
  color: var(--color-primary-darker);
  text-align: center;
}
/* GRID--FEATURES--SECTION--TWO --ENDS*/

/* TESTIMONIAL--CARD--DESIGN-- */
.testimonial__header {
  margin-top: 2.5rem;
  text-align: center;
}

.testimonial__cards-container {
  max-width: 90%;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.testimonial__card {
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px 3px rgb(128 128 128 / 9%);
  margin: 2% 1%;
  padding: 1.5rem;
}

.testimonial__card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
  border: 1px solid #003566;
}

.testimonial__author {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-gap: 2px;
  padding-bottom: 1rem;
}

.testimonial__name {
  align-self: end;
  font-family: inherit;
  font-weight: 700;
  color: #4d5054;
}

.testimonial__text {
  text-align: left;
  padding-bottom: 1rem;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
}

.dots__dot {
  border: none;
  background-color: rgba(0, 53, 102, 0.5);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots .dot_one {
  width: 3rem;
  border-radius: 25%;
}

/* TESTIMONIAL--CARD--DESIGN--ENDS */

/***--- MEDIA QUERIES ---***/

/***--- MEDIA QUERIES END---***/
