/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: #fff;
  color: #4d5054;
  font-weight: 500;
  line-height: 1.9;
}

/* HEADER */
.header {
  background-color: #d4d5d6;
  padding: 15rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  position: relative;
}

.json {
  position: absolute;
  top: 72px;
  left: 401px;
}

.gif {
  position: absolute;
  top: 70px;
  left: 680px;
}

.pdf {
  position: absolute;
  right: 430px;
  top: 75px;
}

.csv {
  position: absolute;
  left: 280px;
  top: 185px;
}

.png {
  position: absolute;
  right: 280px;
  top: 185px;
}

.mp3 {
  position: absolute;
  bottom: 75px;
  left: 430px;
}

.mp4 {
  position: absolute;
  bottom: 65px;
  left: 680px;
}

.jpg {
  position: absolute;
  right: 430px;
  bottom: 75px;
}

.ellipse1 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  top: 65px;
  left: 380px;
}

.ellipse2 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  top: 65px;
  left: 380px;
}

.ellipse3 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  top: 65px;
  left: 650px;
}

.ellipse4 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  top: 65px;
  left: 650px;
}

.ellipse5 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  right: 400px;
  top: 70px;
}

.ellipse6 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  right: 400px;
  top: 70px;
}

.ellipse7 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  left: 250px;
  top: 180px;
}

.ellipse8 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  left: 250px;
  top: 180px;
}

.ellipse9 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  right: 250px;
  top: 180px;
}

.ellipse10 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  right: 250px;
  top: 180px;
}

.ellipse11 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  bottom: 70px;
  left: 400px;
}

.ellipse12 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  bottom: 70px;
  left: 400px;
}

.ellipse13 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  bottom: 60px;
  left: 650px;
}

.ellipse14 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  bottom: 60px;
  left: 650px;
}

.ellipse15 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(20deg);
  position: absolute;
  right: 400px;
  bottom: 70px;
}

.ellipse16 {
  height: 28px;
  width: 90px;
  border-radius: 50%;
  border: 0.1px solid #22262a;
  transform: rotate(-20deg);
  position: absolute;
  right: 400px;
  bottom: 70px;
}

/* SECTION */
.section {
  padding: 5rem 3rem;
}

.rectangle {
  width: 250px;
  height: 330px;
  background-color: #707376;
  margin: auto;
}

.section__title {
  text-align: center;
}

.section__text {
  font-weight: 500;
}

.features__no h1 {
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  border: 5px solid;
  background-color: #22262a;
  color: #fff;
  width: 60px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px rgb(128 128 128 / 9%);
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
  padding: 3rem;
}

.button {
  background-color: #22262a;
  color: #fff;
  padding: 2rem 6rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0px 0px 3px 3px rgb(128 128 128 / 9%);
}
