<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/about_us.css'}">
    <title>ABOUT US</title>
</head>

<body>
    <header class="header__container metatrack__slant">
        <!-- Insert Nav links -->
        <section class="header__wrapper">
            <div class="header__title">
                <h1 class="heading__text">Welcome To MetaTrack</h1>
            </div>
        </section>
    </header>
    <div>
        <hr class="header__borderline border-1" />
    </div>
    <div>
        <hr class="header__borderline border-2" />
    </div>
    <main>
        <section class="section">
            <div class="features__container">
                <!-- No 1 start  -->
                <div class="features__feature">
                    <div class="features__header">
                        <h1>Who We Are</h1>
                    </div>

                    <p class="feature__description">
                        <strong>MetaTrack</strong> is an online metadata extraction tool for files ranging from PDF,
                        JSON, JPEG, amongst others. We are also a security and data protection website against embedded
                        malware threats and virus attacks.
                    </p>
                </div>

                <img src="{% static 'img/Rectangle_4.png'%}" alt="image_of_file_chartbox" class="about_us_img">
                <!-- No 1 end -->

                <!-- No 2 start -->
                <img src="{% static 'img/contract_display.png'%}" alt="contract" class="about_us_img">

                <div class="features__feature">
                    <div class="features__header">
                        <h1>What We Do?</h1>
                    </div>

                    <p class="feature__description">
                        Think of Metadata as bits of information stored, hidden inside files, ranging from size to
                        modification history and software tools used to create them. <br /> <br />

                        MetaTrack extracts those needed informations on reuqest and allows you access to Export as a
                        File or Share through a link. And that&#39s not even all, protect your files against virus
                        attacks and malware threats with our Security Protocols.
                    </p>
                </div>
                <!-- No 2 end -->
        </section>

        <section class="section">
            <h1 class="testimonial__header">Testimonials</h1>
            <div class="testimonial__cards-container">
                <div class="testimonial__card">
                    <div class="testimonial__author">
                        <img src="{% static 'img/user1.png'%}" alt="" class="testimonial__photo" />
                        <h2 class="testimonial__name">Dvrmc</h2>
                    </div>
                    <p class="testimonial__text">
                        Scans the entirety of selected file(s). This scan could take hours
                    </p>
                    <img src="{% static 'img/ratings1.png'%}" alt="" class="card_rating">
                </div>

                <div class="testimonial__card">
                    <div class="testimonial__author">
                        <img src="{% static 'img/user2.png'%}" alt="" class="testimonial__photo" />
                        <h2 class="testimonial__name">Idinnma</h2>
                    </div>
                    <p class="testimonial__text">
                        Scans the entirety of selected file(s). This scan could take hours
                    </p>
                    <img src="{% static 'img/ratings2.png'%}" alt="" class="card_rating">
                </div>

                <div class="testimonial__card">
                    <div class="testimonial__author">
                        <img src="{% static 'img/user3.png'%}" alt="" class="testimonial__photo" />
                        <h2 class="testimonial__name">Opeyemmy</h2>
                    </div>
                    <p class="testimonial__text">
                        Scans the entirety of selected file(s). This scan could take hours
                    </p>
                    <img src="{% static 'img/ratings3.png'%}" alt="" class="card_rating">
                </div>
            </div>

            <div class="dots">
                <div class="dots__dot dot_one"></div>
                <div class="dots__dot dot_two"></div>
                <div class="dots__dot dot_three"></div>
            </div>
        </section>
    </main>

    <!-- <script src="aboutUs.js"></script> -->
</body>

</html>