<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/how_it_works.css'}">
    <title>HOW IT WORKS</title>
</head>

<body>
    <header class="header__container">
        <!-- Insert Nav links -->
        <section class="header__wrapper">
            <div class="header__title">
                <h1>We extract metadatas found in<br />files of any format</h1>
                <span class="json">JSON</span>
                <span class="gif">GIF</span>
                <span class="pdf">PDF</span>
                <span class="csv">CSV</span>
                <span class="mp3">MP3</span>
                <span class="mp4">MP4</span>
                <span class="jpg">JPEG</span>
                <span class="png">PNG</span>

                <div class="ellipse one"></div>
                <div class="ellipse two"></div>
                <div class="ellipse three"></div>
                <div class="ellipse four"></div>
                <div class="ellipse five"></div>
                <div class="ellipse six"></div>
                <div class="ellipse seven"></div>
                <div class="ellipse eight"></div>
                <div class="ellipse nine"></div>
                <div class="ellipse ten"></div>
                <div class="ellipse eleven"></div>
                <div class="ellipse twelve"></div>
                <div class="ellipse thirteen"></div>
                <div class="ellipse fourteen"></div>
                <div class="ellipse fifteen"></div>
                <div class="ellipse sixteen"></div>
            </div>
        </section>
    </header>
    <main>
        <section class="section">
            <div class="section__title">
                <h1 class="section__header">Extracting metadata from your first Files?</h1>
                <p class="section__text">Let's help you figure out how it works</p>
            </div>

            <div class="section features">
                <!-- No 1 start -->
                <div class="features__feature">
                    <div class="features__no">
                        <h1>1</h1>
                    </div>

                    <p class="feature__description">
                        Upload files of your choice from selected personal library, computer or Google Drive ranging
                        from any of the specified file formats indicated above without exceeding a size limit of 250mb
                        by clicking the <strong>Browse Button</strong> on the Dashboard Page
                    </p>
                </div>

                <img src="{% static 'img/Loading.png'%}" alt="a_picture_of_loading_files">
                <!-- No 1 end -->

                <!-- No 2 start -->
                <img src="{% static 'img/Charts_and_graphs_analytics_on_mobile.png'%}" alt="charts_graphs_analytics">


                <div class="features__feature">
                    <div class="features__no">
                        <h1>2</h1>
                    </div>

                    <p class="feature__description">
                        Once uploaded to the website, one can proceed to click on the <strong>EXTRACT button</strong>
                        close to it so that
                        the system analyzes the file to generate metadata of the uploaded file
                    </p>
                </div>
                <!-- No 2 end -->

                <!-- No 3 start -->
                <div class="features__feature">
                    <div class="features__no">
                        <h1>3</h1>
                    </div>

                    <p class="feature__description">
                        Once analysis is complete, the website displays the metadata of the uploaded file through an
                        overlay screen that pops up on the screen. Metadata informations like File Size, File Type, etc.
                    </p>
                </div>

                <img src="{% static 'img/Searching_information_on_the_internet.png'%}" alt="searching_info_on_the_internet">

                <!-- No 3 end -->

                <!-- No 4 start -->
                <img src="{% static 'img/Files_exchange_in_the_air_at_the_character.png'%}" alt="files_exchange">


                <div class="features__feature">
                    <div class="features__no">
                        <h1>4</h1>
                    </div>

                    <p class="feature__description">
                        Below the displayed metadata of the uploaded files, are two options. Basically,
                        <strong>SHARE</strong> OR <strong>EXPORT</strong>.
                        The Share button allows you to either Share the link to the displayed metadata page through
                        Social Channels or Embedd the website in a link.
                    </p>
                </div>
                <!-- No 4 end -->

                <!-- No 5 start -->
                <div class="features__feature">
                    <div class="features__no">
                        <h1>5</h1>
                    </div>

                    <p class="feature__description">
                        The <strong>Export button</strong> allows you to export the displayed metadata through
                        <strong>COPY</strong> through a clipboard
                        or <strong>DOWNLOAD</strong> the displayed metadata through a file to be downloaded.
                    </p>
                </div>

                <img src="{% static 'img/Downloading.png'%}" alt="downloading_of_files">

                <!-- No 5 end -->
            </div>
            <div class="section__title">
                <h1>Ready to Extract the First Metadata from your First File?</h1>
                <input type="submit" value="Extract Metadata">
            </div>
        </section>
    </main>
</body>

</html>