<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password_unsuccessful</title>
    <link rel="stylesheet" href="password_unsuccessful.css" />
</head>
<body>
    <header class="header_logo">
        <img src="/img/metatrack_logo.svg" alt="metetrack_logo" class="metatrack_logo">
    </header>
    <section class="main_container">
        <div class="main_contents">
            <h1 class="main_header">Password Recovery Unsuccessful</h1>
            <div class="main_image">
                <img src="/img/Password_recovery_unsuccessful.svg" alt="" class="password_img">
            </div>
            <div class="main_text">
                <span class="password_text">Want to create a new account </span><a href="" class="signup_link">Sign up</a>
            </div>
        </div>
    </section>
</body>
</html>