<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/extraction_page.css'%}">
    <title>EXTRACTION PAGE</title>
</head>

<body>
    <main class="metadata__container">
        <!-- Insert Nav links -->
        <section class="metadata__wrapper">
            <div class="metadata__title">
                <h3>Metadatas: </h3>
            </div>
        </section>

        <section class="metadata_information">
            <div class="metadata_details">


               {% for title,text in meta_data%}
                <div class="data_detail">
                    {%if 'ExifTool Version Number' in title%}
                    {%elif 'Directory' in title%}
                    {%elif 'File Permissions' in title%}
                    {%else%}
                    <span class="file_header"> {{title}}:</span>
                    <p class="file_text">{{text}}</p>
                    {%endif%}
                </div>
               {%endfor%}



            </div>

            <div class="div">
            {{file.filetype}}
                {% if "image" in file.filetype%}
                    <img src="{{file.file.url}}" width="500" height="500"  class="extraction_file_img">
                {%else%}
                    <iframe src="{{file.file.url}}">
                {%endif%}

                <div>
                    <a src="{{ file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn1">Download</button>
                    </a>
                    <a src="{{ file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn2">Share</button>
                    </a>
                    <a src="{{ file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn2">Embed</button>
                    </a>
                </div>

            </div>
        </section>
        </header>
        {% comment %}  <script>$('.metadata-details')).onfocus(function() {
    setTimeout(function() {
                    var metadata = JSON.parse(response["metadata"]);
                    $.ajax( {
                  contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: "get",
                                    url:'{% url "file:meta-detail" %}',
                    success: function(response) {
                     console.log("got some response")
                     var metadata = JSON.parse(response["metadata"]);
                      {% for title,text in meta_data%}
                <div class="data_detail">
                    {%if 'ExifTool Version Number' in title%}
                    {%elif 'Directory' in title%}
                    {%else%}
                    <span class="file_header"> {{title}}:</span>
                    <p class="file_text">{{text}}</p>
                    {%endif%}
                </div>
                {%endfor%}


                  },
                  error: function(data) {
                      console.log("down here")
                      post_tables("error being thrown")
                  }
               });
    }, 100);
});
</script> {%endcomment %}
