<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/extraction_page.css'%}">
    <title>EXTRACTION PAGE</title>
</head>

<body>
    <main class="metadata__container">
        <!-- Insert Nav links -->
        <section class="metadata__wrapper">
            <div class="metadata__title">
                <h3>Metadatas: </h3>
            </div>
        </section>

        <section class="metadata_information">
            <div class="metadata_details">

<h3 class="your_file">Your file has been extracted successfully</h3>

<a href="{%url 'file:file-detail' pk=file.id%}" ><button class="view_your"> Click here to view your metadata</button></a>
{% comment %} <a href="{%url 'file:file-view'%}">click here to view your file</a> {% endcomment %}
                </div>


            </div>
            <div class="div">
                <img src="{{file.file.url}}" width="500" height="500"  class="extraction_file_img">
                <div>
                    <href="{{file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn1">Download</button>
                    </a>
                    <a href="{{ file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn2">Share</button>
                    </a>
                    <a href="{{ file.meta_file.url}}" download>
                        <button class="extraction_button extract-btn2">Embed</button>
                    </a>
                </div>

            </div>
        </section>
        </header>