* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* header {
    position: relative;
} */

/* Styling of the main overall_container */
/* #overall_container {
    display: flex;
} */

/* Styling the left container */

#left_container {
    display: block;
    height: 100vh;
    /* padding: 2rem; */
    background-color: grey;
    width: 10%;
}

#left_container .left_top .left_nav {
    display:inline-block;
    /* justify-content:center; */
}

#left_container .left_top .left_nav .left_navlinks {
    display: flex;
    place-items: center start;
}

#left_container .left_top {
    display: flex;
    place-items: center;
}

/* Right Container styling */

/* 1. Styling the right container (navigation links) */

.right_container_header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.right_container_header .nav_container .right_nav .right_navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.right_container_header .nav_container .right_nav .right_navlinks .right_logo {
    /* width: 10%; */
    height:5rem;
}

.right_container_header .nav_container .right_nav .right_navlinks .show_photo {
    /* width: 3%; */
    height: 1.5rem;
    border-radius: 50%;
}

/* 2. Styling the right container (right top container) */

.right_container_header .right_top {
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
    /* position: absolute;
    bottom: 45%;
    left: 35%; */
}

.right_container_header .right_top .top_buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.right_container_header .right_top .top_buttons .button_stuff {
    display: flex;
    padding: .5rem 1rem;
    background-color: grey;
    margin-right: .5rem;
}

.right_container_header .right_top .top_buttons .extract_button {
    padding: 0rem 1rem;
}

/* 3. Styling the second right container (second_right container) */

.overall_container {
    max-width: 90%;
    margin: 0 auto;
}


.middle_container .second_right {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    border: solid rgb(217, 216, 216);
    border-width: thin;
}

.middle_container .second_right .tracking_file {
    margin: 2rem 2rem 0 2rem;
}

.middle_container .second_right .tracking_file .tracking_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.middle_container .second_right .tracking_file .tracking_nav .tracking_3dots {
    width: 1.5rem;
}

.middle_container .second_right .tracking_file .file_types {
    display: flex;
}

.middle_container .second_right .tracking_file .file_types .big_circle .full_circle {
    width: 15rem;
}

.middle_container .second_right .tracking_file .file_types .big_circle .circle_content {
    position: relative;
    bottom:50%;
}

.middle_container .second_right .tracking_file .tracking_types {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;    
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents {
    display: flex;
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents .file_circle {
    width: 2rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents .tracking_text {
    margin-top: .8rem;
}

/* 4. Styling the third right container (third_right container) */

.middle_container .third_right {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.middle_container .third_right .each_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: solid rgb(217, 216, 216);
    border-width: thin;
}

.middle_container .third_right .each_boxes .file_image .file_icons {
    width: 3rem;
    margin-right: 1rem;
}

/* 5. Styling the fourth right container (fourth_right container) */

.bottom_container {
    max-width: 90%;
    /* margin: 0 auto; */
}

.bottom_container .bottom_contents {
    display: flex;
    justify-content: center;
}

.bottom_container .bottom_contents .bottom_left {
    max-width: 80%;
    margin-right: 8rem;
    
}

.bottom_container .bottom_contents .bottom_left .table_box .table_headings .rows_data {
    text-align: center;
    
}

.bottom_container .bottom_contents .table_box .table_body .rows_data {
    text-align: center;
}

.bottom_container .bottom_contents .bottom_right .security_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: solid rgb(217, 216, 216);
    border-width: thin;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .security {
    margin-right: 1rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .security_img {
    height: 2rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .security_imgs {
    height: 1rem;
}