<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
		<header class="header_container">
			<section id="nav_bar">
				<div class="nav_left">
					<img src="img/metatrack_logo.svg" alt="" class="metatrack_logo" />
				</div>
				<div class="nav_middle">
					<a href="" class="middle_link">Home</a>
					<a href="" class="middle_link">How It Works</a>
					<a href="" class="middle_link">Services</a>
					<a href="" class="middle_link">About Us</a>
				</div>
				<div class="nav_right">
					<!-- <input type="button" value=""> -->
					<button class="right_link">Login To Account</button>
					<!-- <button class="right_link">Register</button> -->
				</div>
			</section>
			<section id="top_head">
				<div class="head_content">
					<h1 class="head_headings content">
						Extract <span class="target_meta">Metadatas</span> from your Files
					</h1>
					<p class="head_text content">
						Extract metadata recorded behind your files, ranging from files size
						and modification history to the software tools used to create them.
						Available to image files, csv, pdf, json, etc.
					</p>
					<button class="head_button">Create A Free Account</button>
				</div>
				<div class="head_img">
					<img src="img/image_display.svg" alt="" class="image_display" />
				</div>
				<!--this is for image-->
			</section>
		</header>
		<main>
			<section id="first_layout">
				<h2 class="how_heading">How it Works</h2>
				<div class="layout_boxes">
					<div class="box_1 boxes">
						<div class="box_img">
							<img src="/img/document_upload.svg" alt="" class="action_button" />
						</div>
						<div class="box_text">
							<p class="first_layout_texts">
								Upload files ranging from images, csv, pdf and json, etc. by
								clicking the <strong>Browse</strong> button
							</p>
						</div>
					</div>
					<div class="box_2 boxes">
						<div class="box_img">
							<img src="/img/document_forward.svg" alt="" class="action_button" />
						</div>
						<div class="box_text">
							<p class="first_layout_texts">
								Click on the <strong>Extract</strong> button to generate the
								metadatas embedded in the selected file.
							</p>
						</div>
					</div>
					<div class="box_3 boxes">
						<div class="box_img">
							<img src="/img/document_copy.svg" alt="" class="action_button" />
						</div>
						<div class="box_text">
							<p class="first_layout_texts">
								Once generated, you are allow to <strong>Copy</strong> the
								extracted metadatas to a clipboard
							</p>
						</div>
					</div>
				</div>
			</section>
			<section id="second_layout">
				<div class="text_container">
					<h2 class="metadata_head content">MetaData from Images</h2>
					<p class="metadata_text content">
						Images contain exif data that can give you useful information about
						the picture. Information such as shutter speed and focal length are
						stored inside an image. Likewise, you can find out where the photo
						was taken by looking at the location information.
					</p>
					<p class="metadata_text content">
						An online exif data reader can show you all these hidden
						information.
					</p>
					<div class="metadata_button">
						<button class="extract_button">Extract Metadata</button>
					</div>
				</div>
				<div class="layout_img">
					<img src="/img/second_landpage_img.svg" alt="" class="second_landpage_img"/>
				</div>
				<!-- this is for image -->
			</section>
			<section id="second_layout">
				<div class="layouts_img">
					<img src="/img/third_landpage_img.svg" alt="" class="third_landpage_img" />
				</div>
				<div class="text_container">
					<h2 class="metadata_head content">MetaData from Files</h2>
					<p class="metadata_text content">
						Documents can contain metadata too. They include information such as
						file size and date of creation, but also information about the
						author of a document and the software used to create it.
					</p>
					<p class="metadata_text content">
						An exif viewer shows you all you need to know about your text document.
					</p>
					<div class="metadata_button">
						<button class="extract_button">Extract Metadata</button>
					</div>
				</div>
			</section>
			<section id="third_layout">
				<div class="layout_para">
					<p class="third_layout_head">Over 33,000 metadatas extracted with <strong>MetaTrack</strong></p>
				</div>
				<div class="metatrack_boxes">
					<div class="third_boxes">
						<img src="img/binance_coin_(bnb).svg" alt="" class="third_layout_icons" />
					</div>
					<div class="third_boxes">
						<img src="img/trontron_(trx).svg" alt="" class="third_layout_icons" />
					</div>
					<div class="third_boxes">
						<img src="img/angur.svg" alt="" class="third_layout_icons" />
					</div>
					<div class="third_boxes">
						<img src="img/hex_(hex).svg" alt="" class="third_layout_icons" />
					</div>
					<div class="third_boxes">
						<img src="img/quant_(qnt).svg" alt="" class="third_layout_icons" />
					</div>
				</div>
			</section>

			<!-- Recent updates -->
			<section id="faq_layout">
				<div class="faq_texts">
					<h2 class="faq_heading">FAQS</h2>
					<p class="faq_content">
						Pretty new to <strong>MetaTrack?</strong> We answered some questions so you don't
						have to
					</p>
				</div>
				<div class="faq_bars">
					<div class="faq_one faq_containers">
						<h4 class="faq_quest">What are Meta Data?</h4>
						<div class="faq_body">
							<p class="faq_answers">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, tempora!</p>
						</div>
						<hr class="hr_line">
					</div>
					<div class="faq_two faq_containers">
						<h4 class="faq_quest">What type of files can we extract metadata from?</h4>
						<div class="faq_body">
							<p class="faq_answers">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, ipsum.</p>
						</div>
						<hr class="hr_line">
					</div>
					<div class="faq_three faq_containers">
						<h4 class="faq_quest">Can we share details gotten from the copied metadata file?</h4>
						<div class="faq_body">
							<p class="faq_answers">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eveniet?</p>
						</div>
						<hr class="hr_line">
					</div>
				</div>
			</section>
		</main>
		<footer id="footer_container">
			<section id="footer_layout">
				<div class="footer_one footers">
					<h4 class="footer_head">MetaTrack</h4>
					<div class="footer_icons">
						<img src="img/twitter.svg" alt="" class="footer_img" />
						<img src="img/instagram.svg" alt="" class="footer_img" />
					</div>
				</div>
				<div class="footer_two footers">
					<h4 class="footer_head">Home</h4>
					<div class="footer_links">
						<a href="" class="link_anchors">How It Works</a>
						<a href="" class="link_anchors">Services</a>
						<a href="" class="link_anchors">About Us</a>
						<a href="" class="link_anchors">Register</a>
						<a href="" class="link_anchors">Login</a>
					</div>
				</div>
				<div class="footer_three footers">
					<h4 class="footer_head">Support</h4>
					<div class="footer_links">
						<a href="" class="link_anchors">FAQs</a>
						<a href="" class="link_anchors">Help</a>
						<a href="" class="link_anchors">Blogs</a>
					</div>
				</div>
				<div class="footer_four footers">
					<h4 class="footer_head">Legal</h4>
					<div class="footer_links">
						<a href="" class="link_anchors">Terms of Services</a>
						<a href="" class="link_anchors">Privacy Guidelines</a>
					</div>
				</div>
				<div class="footer_five footers">
					<h4 class="footer_head">Contact Us</h4>
					<div class="footer_links">
						<a href="" class="link_anchors">Facebook</a>
						<a href="" class="link_anchors">Instagram</a>
						<a href="" class="link_anchors">Twitter</a>
					</div>
				</div>
			</section>
		</footer>
		<script src="index.js"></script>
	</body>
</html>
