@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
h1, label, p, a, button{
  font-family: 'poppins',sans-serif;
  font-size: 12px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
}

.left {
  left: 0;
  background-color: #707376;
}
.right {
  right: 0;
  background-color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
img{
  margin-right: -0px;
  margin-bottom: -100px;
}
