@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header_container {
    background-color: #003566;
    padding-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6, a, p, th, td, button, input, caption, span {
    font-family: 'Poppins', sans-serif;
}


/* Styling of the main overall_container */
/* #overall_container {
    display: flex;
} */



/* To revisit Styling the left container (Side navigation bar) */

/* #left_container {
    display: block;
    height: 100vh;
    padding: 2rem;
    background-color: grey;
    width: 10%;
}

#left_container .left_top .left_nav {
    display:inline-block;
    justify-content:center;
}

#left_container .left_top .left_nav .left_navlinks {
    display: flex;
    place-items: center start;
}

#left_container .left_top {
    display: flex;
    place-items: center;
} */




/* Right Container styling */


/* 1. Styling the right container (navigation container) */

.right_container_header {
    margin: 0 auto;
}

.right_container_header .nav_container .right_nav .right_navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.right_container_header .nav_container .right_nav .right_navlinks .navlinks_text {
    color: #FFFFFF;
}

.right_container_header .nav_container .right_nav .right_navlinks .navlinks_text:hover {
    color: #FFD60A;
}

.right_container_header .nav_container .right_nav .right_navlinks .search_field {
    padding: .6rem;
    font-style: italic;
    border-radius: .2rem;
    font-size: .5rem;
    width: 12rem;
    background-image: url(img/search_icon.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.right_container_header .nav_container .right_nav .right_navlinks .right_logo {
    width: 5rem;
}

.right_container_header .nav_container .right_nav .right_navlinks .show_photo {
    height: 3rem;
}


/* 2. Styling the right container (right top container) */

.right_container_header .right_top {
    text-align: center;
    max-width: 35%;
    margin: 0 auto;
    /* position: absolute;
    bottom: 45%;
    left: 35%; */
}

.right_container_header .right_top .right_head {
    position: relative;
}

.right_container_header .right_top .right_head .right_heading {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.right_container_header .right_top .right_head .target_meta {
    color: #FFD60A;
}

.right_container_header .right_top .right_head .straight_ell {
    position: absolute;
    bottom: 45%;
    left: 30%;
}

.right_container_header .right_top .right_head .straight_ell .first_ell {
    width: 80%;
}

.right_container_header .right_top .right_head .slant_ell {
    position: absolute;
    bottom: 45%;
    left: 30%;

}

.right_container_header .right_top .right_head .slant_ell .second_ell {
    width: 80%;
}

.right_container_header .right_top .right_head_texts .right_contents {
    color: #FFFFFF;
}

.right_container_header .right_top .top_buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.right_container_header .right_top .top_buttons .button_stuff {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: grey;
    margin-right: .5rem;
}

.right_container_header .right_top .top_buttons .side_button {
    margin: auto 0;
}

.right_container_header .right_top .top_buttons .extract_button {
    padding: 0.2rem .8rem;
    background-color: #FFD60A;
    Fill: Solid;
    border: none;
    border-radius: .2rem;
    font-size: .7rem;
}

.right_container_header .right_top .top_buttons .button_stuff {
    background-color: #FFFFFF;
    Fill: Solid;
    border-radius: .2rem;
    border: none;
}

.right_container_header .right_top .top_buttons .button_stuff .browse_button {
    background-color: #707376;
    Fill: Solid;
    border-radius: .2rem;
    border: none;
    padding: .4rem .3rem;
    color: #FFFFFF;
    font-size: .7rem;
    margin-right: .3rem;
}

.right_container_header .right_top .top_buttons .button_stuff .browse_content {
    font-size: .5rem;
}




/* Styling of the main (Overall container) */

.overall_container {
    max-width: 90%;
    margin: 0 auto;
}

/* Styling of the main (Overall container) continues: */


/* 1. Styling the middle container (second_right container) */


.middle_container .second_right {
    margin: 0 auto;
    text-align: center;
    max-width: 40%;
    border: solid rgb(179, 175, 175);
    border-width: thin;
    margin-top: 2rem;
    border-radius: .5rem;
}

.middle_container .second_right .tracking_file {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.middle_container .second_right .tracking_file .tracking_nav {
    display: flex;
    justify-content: space-between;
}

.middle_container .second_right .tracking_file .tracking_nav .tracking_head {
    color: #4D5054;
    Fill: Solid;
}

.middle_container .second_right .tracking_file .tracking_nav .tracking_3dots {
    width: 1.5rem;
}

.middle_container .second_right .tracking_file .file_types {
    display: flex;
    margin-top: 2rem;
    /* position: relative; */
}

.middle_container .second_right .tracking_file .file_types .big_circle .full_circle {
    width: 15rem;
}

.middle_container .second_right .tracking_file .file_types .big_circle .circle_content {
    position: relative;
    bottom:50%;
}

.middle_container .second_right .tracking_file .file_types .big_circle .circle_content .track_text {
    color: #4D5054;
    Fill: Solid;
    font-weight: 600;
}

.middle_container .second_right .tracking_file .tracking_types {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;    
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents {
    display: flex;
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents .file_circle {
    width: 2rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

.middle_container .second_right .tracking_file .tracking_types .tracking_contents .tracking_text {
    margin-top: .8rem;
}



/* 2. Styling the middle container (third_right container) */

.middle_container .third_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.middle_container .third_right .each_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: solid rgb(179, 175, 175);
    border-radius: .3rem;
    border-width: thin;
}

.middle_container .third_right .each_boxes .file_contents .file_text {
    color: #4D5054;
    Fill: Solid;
    font-weight: 700;
}

.middle_container .third_right .each_boxes .file_contents .file_text .text_file {
    color: #949698;
    Fill: Solid;
    font-size: .7rem;
}

.middle_container .third_right .each_boxes .file_image .file_icons {
    width: 3rem;
    margin-right: 1rem;
}



/* Styling of the bottom container */

.bottom_container {
    max-width: 65%;
    margin: 0 auto;
}

/* Styling of the bottom container (bottom_contents) continues: */


.bottom_container .bottom_contents {
    display: flex;
    margin-bottom: 5rem
}


/* 1. Styling the bottom contents (table container) */

.bottom_container .bottom_contents .table_box {
    max-width: 70%;
    border-collapse: collapse;
    margin-right: 2rem;
}

.bottom_container .bottom_contents .table_box .table_head {
    margin-bottom: 1.5rem;
    color: #4D5054;
    Fill: Solid;
}

.bottom_container .bottom_contents .table_box .table_headings .rows_head {
    background-color: #003566;
    Fill: Solid;
}

.bottom_container .bottom_contents .table_box .table_headings .rows_head .each_thead {
    color: #FFFFFF;
    Fill: Solid;
    font-size: .6rem;
    padding: .8rem;
}

.bottom_container .bottom_contents .table_box .table_headings .rows_data {
    text-align: center;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data {
    border-bottom: 1pt solid #949698;
    text-align: center;
    border-width: thin;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .each_tdata {
    font-size: .6rem;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .each_tdata .tdata_button {
    font-size: .6rem;
    padding: .1rem .8rem;
    border-radius: 3rem;
    border: none;
    background-color: #CEF2E8;
    Fill: Solid;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .each_tdata .jpeg_color {
    background-color: #E3D6E7;
    Fill: Solid;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .tdata_num {
    background-color: #557899;
    Fill: Solid;
    border: none;
    width: 1rem;
    margin: 0 auto;
    padding: .4rem .8rem;
    border-radius: .2rem;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .tdata_num .num_text {
    color: #FFFFFF;
    Fill: Solid;
    font-size: .5rem;
    margin-right: rem;
}

.bottom_container .bottom_contents .table_box .table_body .rows_data .expand_arrows {
    width: 1.3rem;
}


/* 2. Styling the bottom contents (bottom_right container) */


.bottom_container .bottom_contents .bottom_right .security_head {
    margin-bottom: 1.5rem;
    color: #4D5054;
    Fill: Solid;
}

.bottom_container .bottom_contents .bottom_right .security_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: .8rem .5rem;
    border: solid rgb(179, 175, 175);
    border-width: thin;
    border-radius: .5rem;
    width: 16rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes:hover {
    cursor: pointer;
    background-color: #22262A;
    Fill: Solid;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security {
    margin-right: .2rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .secure_head {
    font-size: .8rem;
    font-weight: 600;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .security_text {
    color: #003566;
    Fill: Solid;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .security_text:hover {
    color: #FFFFFF;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .security_img {
    height: 2.5rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .secure_buttons {
    cursor: pointer;
    padding: .1rem .6rem;
    font-size: .7rem;
    border-radius: .2rem;
    border-color: #003566;
    border-width: thin;
    background-color: #FFFFFF;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .each_security .secure_buttons:hover {
    background-color: #22262A;
    border-color: #FFFFFF;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .security_imgs {
    height: 1rem;
}

.bottom_container .bottom_contents .bottom_right .security_boxes .security_imgs:hover {
    fill: #FFFFFF;
}
