<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./extraction_page.css">
    <title>EXTRACTION PAGE</title>
</head>

<body>
    <main class="metadata__container">
        <!-- Insert Nav links -->
        <section class="metadata__wrapper">
            <div class="metadata__title">
                <h3>Metadatas: </h3>
            </div>
        </section>

        <section class="metadata_information">
            <div class="metadata_details">
                <div class="data_detail">
                    <span class="file_header"> FILE NAME:</span>
                    <p class="file_text">A_Metadata_Approach_for_Building_Web_Application.pdf</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">FILE SIZE:</span>
                    <p class="file_text">536 KB</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">FILE TYPE EXTENSION:</span>
                    <p class="file_text">PDF</p>

                </div>

                <div class="data_detail">
                    <span class="file_header">MIME TYPE:</span>
                    <p class="file_text">application/pdf</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">PDF VERSION:</span>
                    <p class="file_text">14</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">LINEARIZED:</span>
                    <p class="file_text">No</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">PAGE COUNT:</span>
                    <p class="file_text">0</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">XMP TOOLKIT:</span>
                    <p class="file_text">XMP toolkit 2.9.1-13, framework 1.6</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">ABOUT:</span>
                    <p class="file_text">uuid:478ff210-eeaa-11ef-0000-083ce177859b</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">PRODUCER:</span>
                    <p class="file_text">GPL Ghostscript 9.05</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">CREATE DATE:</span>
                    <p class="file_text">2015:02:17 10:14:17Z</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">MODIFY DATE:</span>
                    <p class="file_text">2015:02:17 10:14:17Z</p>
                </div>

                <div class="data_detail">
                    <span class="file_header">DOCUMENT ID:</span>
                    <p class="file_text">uuid:478ff210-eeaa-11ef-0000-083ce177859b</p>
                </div>
            </div>

            <div class="div">
                <img src="images/Rectangle_shape.png" alt="" class="extraction_file_img">
                <div>
                    <input type="submit" value="Export" class="extraction_button extract-btn1">
                    <input type="submit" value="Share" class="extraction_button extract-btn2">
                </div>

            </div>
        </section>
        </header>