@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
h1,
label,
p,
a,
button {
  font-family: "poppins", sans-serif;
  font-size: 0.75rem;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 1.25rem;
}

.left {
  left: 0;
  background-image:linear-gradient(#003566, #2d5b85)
}
.htwo{ 
  color: gold;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 33.125rem;
}

.contract{
  margin-bottom: -34.375rem;
  margin-left: -6.25rem;
}
.shadow{
  margin-bottom: -40.625rem;
}
.fn{
  margin-bottom: -13.75rem;
  margin-right: 25rem;
}
.di{
  margin-bottom:-25rem ;
  margin-right:31.25rem ;
}
.cd{
  margin-bottom: -37.5rem;
  margin-right: 31.25rem;
}
.ft{
  margin-bottom:-6.25rem ;
  margin-left:21.875rem ;
}
.mt{
  margin-bottom: -11.25rem;
  margin-left: 21.875rem;
}
.md{
  margin-bottom: -18.75rem;
  margin-left: -9.375rem;
}
.fs{
  margin-bottom: -34.375rem;
  margin-left: 26.25rem;
}

.right {
  right: 0;
  background-color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wave{
  margin-left: -0.25rem;
  margin-top: 3.75rem;
}

.upper {
  display: flex;
  flex-direction: column;
}
.side {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5rem;
  white-space: nowrap;
  overflow: visible;
  row-gap: 0rem;
}
.hone {
  width: 25rem;
  height:3.5rem;
  margin-right: 4.375rem;
  margin-top: 5.313rem;
  font-weight: 700;
  font-size: 2.5rem;
  
  font-size: 40px;

}
.px {
  margin-right: 0.625rem;
  font-size: 0.90rem;
}
.L1 {
  margin-right: 86%;
  color:#003566 ;
  font-size: 1rem;
}
.email {
  width: 31.25rem;
  height: 1.875rem;
  margin: 0.063rem;
  margin-bottom: 1.25rem;
  border-style:solid;
  border-color: #003566;
  width: 500px;
  height: 30px;
  margin: 1px;
  margin-bottom: 20px;
}
.L2 {
  margin-right: 81%;
  color:#003566 ;
  font-size: 1rem;
}
.password {
  width:31.25rem;
  height: 1.875rem;
  margin: 0.031rem;
  border-style:solid;
  border-color: #003566;
  width: 500px;
  height: 30px;
  margin: 0.5px;
}
.p3 {
  margin-right: -17.5rem;
  color: gold;
  font-size: 1rem;
}
.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn2 {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.625rem;
  width:28.125rem;
  height: 1.875rem;
  color: white;
  background-color:#003566;
  font-size: 1rem;
}
.p4 {
  height: 2.125rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color:#003566 ;
  font-size: 1rem;
}
.btn3{
  height: 6.25rem;
                width: 6.25rem;
                background-color: #d9d9d9;
                font-size: 1rem;
}

.text-error{
    color:red;
}
