<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./editprofile.css">
</head>
<body>
     <section class="container">
        <section class="top_section">
                <header class="main_header">
                    <img src="./design/logo-meta.svg" alt="logo" class="logo">
                    <ul class="header_list">

                        <li class="header_navbarlist-item"><a href="#" class="header_navbar-link">Home</a></li>
                        <li class="header_navbarlist-item"><a href="#" class="header_navbar-link">How it works</a></li>
                        <li class="header_navbarlist-item"><a href="#" class="header_navbar-link">Services</a></li>
                        <li class="header_navbarlist-item"><a href="#" class="header_navbar-link">About Us</a></li>
                    </ul>
                    <section class="header_searchbar">
                        <input type="text" placeholder="search for files">
                        <section class="header_searcbar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z" stroke="#22262A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z" stroke="#22262A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </section>   
                    </section>
                    <section class="user_profile-pic">
                        <figure class="user_pic">
                            <img src="./design/Dammy.jpg" alt="">
                        </figure>
                    </section>
                </header>
                <section class="profile_account">
                    <a class="profile" href="#">Profile</a>
                    <a class="profile" href="#">Account Settings</a>
        
                </section>
                    
        </section>
                <section class="bottom_section">

                    <section class="profile">

                        <div class="pro_title">
                            <h3>Public Profile</h3>

                        </div>

                        <div class="pro_content">

                    <figure class="figure">

                        <img src="./design/Dammy.jpg" alt="">
                        <h2>Darmac Kvng</h2>
    
                        <figcaption id="img-caption">Photographer</figcaption>
                        <p>example@gmail.com</p>
                    </figure>
    
                    <section class="btn_group">
                        <button class="pbtn btn" >UPLOAD NEW PICTURE</button>
                        <button class="dbtn btn">DELETE</button>
    
                    </section>

                </div>

                
                
                
            </section>

            <section class="basic_info">
                <h3>Basic Information</h3>

        
                <section class="form-control">
                    <form action="submit">
    
    
                        <label>USERNAME</label>
                        <input type="text" placeholder="Type your username">
                        <label> Job Title</label>
                        <input type="text" placeholder="Password must be 13 character long">
                        <label>Confirm New Pasword</label>
                        <input type="Password" placeholder="Re-type your password">
                        
                    </form>

                    <section class="input">
                        <input class="btn" type="submit" value="CANCEL">
                        <input class="sbtn" type="submit" value="SAVE CHANGES">
                    </section>

                </section>
                </section>


        
                </section>    















           

            


        </section>

        </section>

       










</section>
    
</body>
</html>