
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* font family */
    --font-family: 'Poppins', sans-serif;
    /* font weight */
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;

    /* font style */
    --font-style: italic;
    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #3F3D3D;
    color: #003566;

}

.container{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #003566;
}


h2{
    text-align: center;
    /* padding-top: 15px; */
    margin-block-start: 1rem;
}

p{
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    

    
}
.order_1{
    width: 50%;
    height: 100%;
    margin-inline: auto;
    /* padding: 5rem; */
}

.order_2{
    width: 50%;
    height: 100%;
    background-color: white;
}
form{
    width: 75%;
    margin-inline: auto;
    margin-block: 4rem;
    margin-top: 3rem;


}

form label{
    
    margin-block: 0.5rem;
    display: flex;

}

.btn{
    
    margin-top: 3rem; 
    height: 35px; 
    border: none;
    background-color: #003566;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px whitesmoke;

}

.btn:hover{
    
    background-color:  #003566;
    color: #f0f0f0!important;
}


form input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border: 1px solid #003566;
    border-radius: 6px;
    outline: none;

}
.password-image img{
    width: 70%;
    justify-content: center; 
    display: inline;
    padding-left: 9rem;
    padding-top: 4rem;


}

img{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: 5rem;
}
   
::placeholder{
    font-style: var(--font-style);
    font-size: 0.8rem;
}

