<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="./editprofile.css">
</head>
<body>
    <section class="container">
        <section class="order_1">
            <img src="../design/logo-meta.svg" alt="">
            <section class="password-image">
                <img src="../design/Sign in to the account with username and password.svg" alt="">
            </section>
                
        </section>
        <section class="order_2">
            <h2>Password Recovery</h2>
            <p>Please enter the password sent to you as<strong> Old Password</strong>   
                        <form class="box" id="form">
                            <section class="form-control">
                                <label>Old Password</label>
                                <input type="password" placeholder="Type in old password">
                                <label> New Password</label>
                                <input type="password" placeholder="Password must be 13 character long">
                                <label>Confirm New Pasword</label>
                                <input type="Password" placeholder="Re-type your password">
                                <input type="button" value = "Update Password" class="btn">
                            
                        </form>
        </section>
        
    </section>
 
</body>
</html>