<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metadata Registration Form</title>
    <link rel="stylesheet" href="./signup.css">
</head>
<body>
    <section class="container">
        <div class="container_images">

            <section class="logo ">
            
                <img src="./img/design/logo-meta.svg" alt="">
            </section>
            <section class="contract_paper">
                <img src="./img/design/contract.svg" alt="">
            </section >
            <section class="flyer_props flyers flyer_1">
                <img src="./img/design/file-name.svg" alt="">
            </section >
            <section class="flyer_props flyers flyer_2">
                <img src="./img/design/document.svg" alt="">
            </section>
            <section class="flyer_props flyers flyer_3">
                <img src="./img/design/file-size.svg" alt="">
            </section>
            <section class="flyer_props flyers flyer_4">
                <img src="./img/design/file.svg" alt="">
            </section>
            <section class="flyer_props flyers flyer_5">
                <img src="./img/design/mime.svg" alt="">
            </section>
            <section class="flyer_props flyers flyer_6">
                <img src="./img/design/modify.svg" alt="">
            </section>
            <section class="flyer_props flyers flyer_7">
                <img src="./img/design/create.svg" alt="">
            </section>
            <section class="footer_button">
                <img src="./img/design/footer_button.svg" alt="">
            </section>
                <h1>Documents</h1>
        </div>

        
        <div class="order_2">
            <h2>Set Up a MetaTrack Account</h2>
            <p>Join thousands of <strong> MetaTrackers</strong> who extracts metadata from files<br> save, copy, share and track thier File history with <strong>MetaTrack</strong>   
                        <form class="box" id="form">
                            <section class="form-control">
                                <label>Username</label>
                                <input type="text" placeholder="Type your username">
                                <label>Email Address</label>
                                <input type="email" placeholder="Type your email address">
                                <label>Password</label>
                                <input type="password" placeholder="Password must be 13 character long">
                                <label>Confirm Pasword</label>
                                <input type="Password" placeholder="Re-type your password">
                                <input type="button" value = "Create account" class="btn">
                            <small>Already have an account? <a href="login.html">login</a></small>
                        </form>
        </div>
        
    </section>
    
</body>
</html>



