<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticated navlinks</title>
    <link rel="stylesheet" href="authenticated_nav.css" />
</head>
<body>
    <header class="header_container metatrack_slant">
			<section class="right_container_header">
				<div class="nav_container">
					<div class="right_nav">
						<div class="right_navlinks">
							<img src="img/metatrack_logo.svg" class="right_logo" alt="" />
							<a href="" class="navlinks_text">Home</a>
							<a href="" class="navlinks_text">How It Works</a>
							<a href="" class="navlinks_text">Services</a>
							<a href="" class="navlinks_text">About Us</a>
							<input
								type="search"
								name="Search"
								id=""
								placeholder="Search for files"
								class="search_field"
							/>
							<img src="img/Code Image.svg" class="show_photo" alt="" />
						</div>
					</div>
				</div>
			</section>
		</header>

		<!-- <div>
			<hr class="header_borderline border-1" />
		</div>

		<div>
			<hr class="header_borderline border-2" />
		</div> -->
    
</body>
</html>