@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');   

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, p, button, span, input {
    font-family: 'Poppins', sans-serif;
}

.header_logo {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.header_logo .metatrack_logo {
    width: 5rem;
    margin-top: 2rem;
}


.main_container {
    max-width: 90%;
    margin: 0 auto;
}

.main_container .main_contents {
    max-width: 50%;
    margin: auto;
}

.main_container .main_header {
    font-weight: 700;
    font-size: 2.5rem;
    color: #003566;
    Fill: Solid;
}

.main_container .main_image {
    max-width: 50%;
    margin: auto;
}

.main_container .main_image .password_img {
    width: 20rem;
    margin-bottom: 5rem;
}

.main_container .main_text {
    max-width: 50%;
    margin: auto;
}

.main_container .main_text .password_text {
    color: #003566;
    Fill: Solid;
}

.main_container .main_text .signup_link {
    color: #FFD60A;
    Fill: Solid;
    font-weight: 600;
}
