@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, a, p, th, td, button, input, caption, span {
    font-family: 'Poppins', sans-serif;
}

/* body {
    background: #003566;
} */

.navigation {
    position: absolute;
    inset: 8rem 0 1.5rem;
    width: 5rem;
    background: #FFFFFF;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.navigation.open {
    width: 11rem;
}

.navigation .menu_toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    border-bottom: .1rem solid rgba(0,0,0,0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.5rem;
}

.navigation .menu_toggle::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: .1rem;
    background: #FFD60A;
    fill: solid;
    transform: translateY(-.5rem);
    transition: .5s;
}

.navigation.open .menu_toggle::before {
    transform: translateY(0rem) rotate(45deg);
}

.navigation .menu_toggle::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: .1rem;
    background: #FFD60A;
    fill: solid;
    transform: translateY(.5rem);
    transition: .5s;
    box-shadow: 0 -.5rem 0 #FFD60A;
}

.navigation.open .menu_toggle::after {
    transform: translateY(0rem) rotate(-45deg);
    box-shadow: 0 0 0 #FFD60A;
}



.navigation .navlists_container {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 100%;
}

.navigation .navlists_container .nav_lists {
    list-style: none;
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 0 .6rem;
    transition: 0.5;
}

.navigation .navlists_container .nav_lists .navlinks_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* width: 10rem;
    background-color: #003566; */
    text-align: center;
    text-decoration: none;
}

.navigation .navlists_container .nav_lists .navlinks_container .nav_icons {
    position: relative;
    display: block;
    min-width: 3.5rem;
    height: 3.5rem;
    line-height: 4rem;
    transition: 0.5s;
    border-radius: .6rem;
    fill: #003566;
}

.navigation .navlists_container .nav_lists.active .navlinks_container .nav_icons {
    color: #FFD60A;
    background: var(--color);
}

.navigation .navlists_container .nav_lists .navlinks_container .nav_icons::before {
    content: '';
    position: absolute;
    top: .6rem;
    left: 0;
    width: 100%;
    background: var(--color);
    opacity: 0;
    transition: 0.5s;
}

.navigation .navlists_container .nav_lists.active .navlinks_container .nav_icons::before {
    opacity: 1;
}

.navigation .navlists_container .nav_lists .navlinks_container .separate_icon {
    fill: #FFD60A;
}

.navigation .navlists_container .nav_lists .navlinks_container .nav_text {
    position: relative;
    padding: 0 .9rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    color: #003566;
    opacity: 0;
    visibility: hidden;
    /* transition: 0.5s; */
}

.navigation.open .navlists_container .nav_lists .navlinks_container .nav_text {
    opacity: 1;
    visibility: visible;
}

.navigation .navlists_container .nav_lists.active .navlinks_container .nav_text {
    color: #FFD60A;
}