<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthenticated navlinks</title>
    <link rel="stylesheet" href="unauthenticated.css" />
</head>
<body>
    <header class="header_container metatrack_slant">
			<section id="nav_bar">
				<div class="nav_left">
					<img src="img/metatrack_logo.svg" alt="" class="metatrack_logo" />
				</div>
				<div class="nav_middle">
					<a href="" class="middle_link">Home</a>
					<a href="" class="middle_link">How It Works</a>
					<a href="" class="middle_link">Services</a>
					<a href="" class="middle_link">About Us</a>
				</div>
				<div class="nav_right">
					<!-- <input type="button" value=""> -->
					<button class="right_link">Login To Account</button>
					<!-- <button class="right_link">Register</button> -->
				</div>
			</section>
    </header>
    <!-- <div>
		<hr class="header_borderline border-1" />
	</div>

	<div>
		<hr class="header_borderline border-2" />
	</div>   -->
</body>
</html>