@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

section{
    text-align: center;
    display: flex;
    flex-direction: column;
}

header a img{
    margin-top: 1em;
    width: 70px;
}

section h1{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #003566;
    font-weight: 1000;
}
section img{
    width: 30%;
    margin: 0 auto;
}

.ellipse{
    width: 50%;
    margin: 0 auto;
    margin-top: -10em;
}
section a{
    padding: 1em 8em;
    background-color: #003566;
    display: inline-block;
    /* width: 30%; */
    color: white;
    margin: 0 auto;
    margin-bottom: 2em;
    text-decoration: none;
    border-radius: 10px;
}

section a:hover{
    background-color: gold;
    color: black;
    transform: translateY(-5px);
}

@media (max-width: 950px){
    header img{
        width: 70px;
    }
    section h1{
        margin-bottom: 1em;
    }
    section img{
        margin-bottom: 3em;
        width: 40%;       
    }

}

@media (max-width: 700px){
    section img{
        width: 60%;
    }
}

@media (max-width: 550px){
    section img{
        width: 80%;
        margin-bottom: 4em;
    }
    .ellipse{
        width: 80%;
    }
    section a{
        padding: 1em 3em;
    }
}

@media (max-width: 450px){
    .ellipse{
       width: 100%;
        margin-bottom: 3em;
    }
}
@media (max-width: 300px){
    section img{
        width: 100%;
    }
}
